<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.select :language, [['English'],['Hindi'],['French'],['Spanish']] %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.select :genre, [['Drama'],['Comedy'],['Musical'],['Action'],['Horror'],['Romantic']] %>
  </div>
  <div class="field">
    <%= f.label :imbd_rating %><br>
    <%= f.text_field :imbd_rating %>
  </div>
  <div class="field">
    <%= f.label :review_rating %><br>
    <%= f.text_field :review_rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
