<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @movie.language %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Imbd rating:</strong>
  <%= @movie.imbd_rating %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @movie.review_rating %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
