<%= form_for(@search_theatre) do |f| %>
  <% if @search_theatre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_theatre.errors.count, "error") %> prohibited this search_theatre from being saved:</h2>

      <ul>
      <% @search_theatre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :theatre_id %><br>
    <%= f.number_field :theatre_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
