<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @show.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @show.end_time %>
</p>

<p>
  <strong>Seats avail:</strong>
  <%= @show.seats_avail %>
</p>

<p>
  <strong>Screen:</strong>
  <%= @show.screen_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @show.movie_id %>
</p>

<p>
  <strong>Date of show:</strong>
  <%= @show.date_of_show %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
